*{
    background-color:mediumslateblue;
    background-size: auto;
}
h1{
    color: moccasin;
    border: 2px rgb(3, 1, 22);
    padding: 20px;
    text-align: center;
    text-shadow: coral;
    margin: 30px;
}